@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Rubik:wght@300;400;600;700;800&display=swap');



.title-sesion{
    color: #4A008B;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../public/fondoTKF2.png') no-repeat center center, 
                linear-gradient(45deg, #440080, #bb4eff);
    background-size: cover, 200% 200%;
    background-position: center, center; 
    animation: cambiarColor 3s infinite alternate;
}

@keyframes cambiarColor {
    0% {
        background-position: center, 0% 50%;
    }
    100% {
        background-position: center, 100% 50%;
    }
}

.contem{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px #f8f8f8;
}

.cjcorreo{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.cjcontraseña{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

label{
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.lbcontraseña {
    display: flex;
    align-items: center;
}


input{
    padding: 9px;
    width: 100%;;
    border-radius: 15px;
    border-width: 1px;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
}


.btn-iniciar-sesion{
    background-color: #00c2f8;
    width: 130px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #333;
}

.btn-iniciar-sesion:hover{
    background-color: #73d3ed;
    transform: scale(1.1);
    cursor: pointer;
}

.form .btn-iniciar-sesion{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.error-message{
    color: #f00c0c;
    font-weight: 900;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 550px) {
    .contem{
        width: 100%;
    }
}




/*##################################################*/


.title-registro{
    color: #4A008B;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}


.inputs-register input{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    border-radius: 0;
    padding-left: 0px;
    font-family: 'Quicksand', sans-serif;
}

.inputs-register button{
    background-color: #00c2f8;
    width: 150px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #333;
}

.inputs-register button:hover{
    background-color: #73d3ed;
    transform: scale(1.05);
    cursor: pointer;
}

/*##################################################*/




.contenhome{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../public/fondoTKF2.png') no-repeat center center, 
                linear-gradient(45deg, #440080, #bb4eff);
    background-size: cover, 200% 200%;
    background-position: center, center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 4%;
    padding-bottom: 4%;
}

.conten2home{
    background-color: #fff;
    width: 85%;
    height: 85%;
    border-radius: 20px;
    padding: 2%;
    font-family: 'Nunito', sans-serif;
}

.titulo-opciones{
    display: flex;
}

.cjtitulo,.cjopciones{
    width: 50%;
}

.cjopciones{
    display: flex;
}

.cjopciones button{
    background-color: #00c2f8;
    min-width: 80px;
    max-width: 80px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #333;
}

.cjopciones button:hover{
    background-color: #73d3ed;
    transform: scale(1.02);
    cursor: pointer;
}

.cjopciones,.btn-opciones{
    align-items: center;
    justify-content: end;

}

.titulohome{
    font-family: 'Nunito', sans-serif;
    color: #4A008B;
    font-weight: 900;
    font-size: 40px;
}


.opciones{
    background-color: 0;
    padding: 5px;
}

.btn-nuevatarea{
    background-color: #b06bec;
    width: 130px;
    height: 40px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #fff;
}

.btn-nuevatarea:hover{
    background-color: #8d4bc7;
    transform: scale(1.02);
    cursor: pointer;
}

.panel-cajas{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    min-height: 170px;
}

.contenedor-cajas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    justify-content: center;
}

.caja{
    width: 100%;
    max-width: 250px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    border-radius: 15px;
    background: #A53860;
    box-shadow: 0 0 8px 3px #bebebe;
    margin: 4px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 300px;
}

.tarea-vencida {
    width: 100%;
    max-width: 250px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #4C3B4D;
    margin: 4px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 300px;
    color: #ffc266;
  }




.caja:hover{
    cursor: pointer;
}

.caja .contercj{
    font-size: 20px;
    font-weight: 500;
    float: right;
    background-color: #f80057;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}

.caja h1{
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    font-family: 'Nunito', sans-serif;
}

.caja h2{
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik', sans-serif;
}

.caja span{
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.tarea-vencida h1{
    color: #FFEEDB;
}

.tarea-vencida h2{
    color: #ffc266;
}

.tarea-vencida span{
    color: #ffc266;
}

.btn-eliminar-tr{
    background-color: #f80057;
    width: 90px;
    height: 25px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.btn-eliminar-tr:hover{
    background-color: #cf1e5c;
    transform: scale(1.05);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
  }
  
  .modal-content {
    background: #ADA8B6;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
  }

  .modal-content input,select, textarea{
    background-color: #f1f1f1;
  }

  .modal-content h2 {
    font-family: 'Nunito', sans-serif;
    color: #333;
  }

  .modal-content textarea{
    min-height: 70px;
    width: 80%;
    margin: 1px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito', sans-serif;
  }

  .modal-content input{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 4px;
    border: none;
  }

  .modal-content select{
    font-family: 'Nunito', sans-serif;
  }

  .modal-content .seleprioridad{
    margin-bottom: 2%;
    border: none;
    min-height: 35px;
    width: 80%;
    border-radius: 14px;
    font-family: 'Nunito', sans-serif;
  }

  .modal-content .seleanticipacion{
    margin-bottom: 2%;
    border: none;
    min-height: 35px;
    width: 80%;
    border-radius: 14px;
    font-family: 'Nunito', sans-serif;
  }

  .modal-content button{
    background-color: #00c2f8;
    width: 130px;
    height: 40px;
    margin: 3px;
    border: none;
    border-radius: 5px;
  }

  .modal-content button:hover{
    background-color: #70d0eb;
  }


  .modal-content .btn-cancelar-tarea{
    background-color: #f80057;
  }

  .modal-content .btn-cancelar-tarea:hover{
    background-color: #cf1e5c;
  }


  .modal-perfil{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-contenido-perfil{
    background: #ADA8B6;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
  }

  .modal-contenido-perfil p{
    background-color: #c8c1d3;
    border-radius: 10px;
    padding: 7px;
    margin: 0;
    margin-bottom: 5px;
    color: #333;
  }

  .modal-contenido-perfil strong{
    color: #111;
  }

  .modal-botones-perfil button{
    min-width: 100px;
    height: 40px;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    background-color: #00c2f8;
  }

  .modal-botones-perfil .btn-cerrar{
    min-width: 210px;
  }

  .modal-botones-perfil .btn-logout{
    background-color: #00c2f8;
  }

  .modal-botones-perfil .btn-logout:hover{
    background-color: #00c2f8;
  }
  
  .modal-botones-perfil .btn-cerrar{
    background-color: #f80057;
    width: 800px;
  }

  .modal-botones-perfil .btn-cerrar:hover{
    background-color: #cf1e5c;
  }

  .modal-botones-perfil .btn-danger{
    background-color: #ff0000;
  }

  .modal-botones-perfil .btn-danger:hover{
    background-color: #a10101;
  }

  .modal-content .modal-eliminar-titulo{
    color: #fff;
  }



  .toast-custom {
    background: #753d83 !important;
    color: #ffffff !important;
    font-weight: bold;
    border-left: 5px solid #550569;
    padding: 12px;
    border-radius: 25px;
  }

  .toast-custom2 {
    background: #27a9c9 !important;
    color: #ffffff !important;
    font-weight: bold;
    border-left: 5px solid #550569;
    padding: 12px;
    border-radius: 25px;
  }

  .modal-content-graficos {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 90vh;
    height: auto;
    background-color: #ADA8B6;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
  }

  .modal-body {
    flex-grow: 1; 
    overflow-y: auto;
    padding-bottom: 20px;
}

  .modal-content-graficos .btn-cerrar-graficos{
    width: 100%;
    height: 30px;
    background-color: #f80057;
  }

  .modal-content-graficos .btn-cerrar-graficos:hover{
    background-color: #cf1e5c;
  }

  .cjgf-caja1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .cjgf-caja1 > div {
    flex: 1 1 calc(33.33% - 10px);
    min-width: 250px;
    max-width: 400px;
  }

  .cjgf-datos1 {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #644c83;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  .cjgf-datos1 h2{
    color: #f80057;
  }

  .cjgf-datos1 p{
    color: #ff9166;
    font-weight: 800;
  }

  .cjgf-caja1 strong{
    color: #fff;
  }

  .cjgf-dato1g {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    height: 250px;
    border-radius: 10px;
    background-color: #644c83;
    font-size: 10px;
  }

  .cjgf-dato2 {
    width: 50%;
    border-radius: 10px;
    background-color: #644c83;
    padding: 10px;
  }

  .cjgf-dato2 h3 {
    color: #f80057;
  }

  .cjgf-dato2 p {
    font-size: 20px;
    font-weight: 900;
    color: #ff9166;
  }

  .cjgf-dato3 {
    width: 50%;
    border-radius: 10px;
    background-color: #644c83;
    padding: 10px;
  }

  .cjgf-dato3 h3 {
    color: #f80057;
  }

  .cjgf-dato3 p {
    font-size: 20px;
    font-weight: 900;
    color: #ff9166;
  }


  .proximas-tareas{
    display: flex;
    width: 100%;
    font-size: 9px;
    font-weight: 500;
    text-align: start;
  }

  .proximas-tareas h3{
    color: #fff;
    margin-left: 10px;
    margin: 5px;
  }

  .proximas-tareas .pnohay{
    margin-left: 4%;
    margin-top: 4%;
  }

  .proximas-tareas p{
    align-items: start;
  }

  .tarea-proxima{
    width: 100%;
    margin-left: 2%;
    align-items: self-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .modal-bienvenida{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #440080, #bb4eff);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
    color: #fff;
  }

  .pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #440080, #bb4eff);
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 25px;
  }

  .lapiz {
    position: relative;
    margin-bottom: 1%;
  }
  
  .barra-carga {
    height: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    border-radius: 2px;
  }

  .copyright{
    font-size: 12px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }

  .tutorial {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .modal-opciones{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-contenidoopciones {
    background: #ADA8B6;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }

  .modal-contenidoopciones label{
    float: left;
    margin-left: 15%;
    margin-right: 10%;
  }

  .modal-contenidoopciones p {
    text-align: justify;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
  }

  .modal-contenidoopciones a {
    color: #333;
  }

  .modal-contenidoopciones button{
    margin-top: 5%;
    background-color: #f80057;
  }

  .modal-contenidoopciones button:hover{
    background-color: #cf1e5c;
  }


  .switch input {
    display: none;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .switch .slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .switch input:checked + .slider {
    background-color: #440080;
  }

  .switch input:checked + .slider::before {
    transform: translateX(24px);
  }


  
  .modo-oscuro {
    background-color: #121212;
    color: white;
  }

  .modo-oscuro .conten2home{
    background-color: #4C3B4D;
    color: white;
  }

  .modo-oscuro .contenedor-cajas{
    background-color: #4C3B4D;
    color: white;
  }

  .modo-oscuro .panel-cajas{
    background-color: #4C3B4D;
    color: white;
  }

  .modo-oscuro .caja {
    box-shadow: 0 0 8px 3px #241f25;
  }

  .modo-oscuro .titulohome {
    color: #ffc266;
  }

  .modo-oscuro .titulohome2 {
    color: #ffc266;
  }

  .modo-oscuro .modal-contenido-perfil {
    background: #3c3b3f;
  }

  .modo-oscuro .modal-content {
    background-color: #3c3b3f;
  }

  .modo-oscuro .modal-content-graficos{
    background-color: #3c3b3f;
  }

  .modo-oscuro .modal-contenidoopciones{
    background-color: #3c3b3f;
  }

  .modo-oscuro .modal-contenidoopciones a{
    color: #fff;
  }

  .modo-oscuro .tutorial{
    background-color: #3c3b3f;
  }

  .modo-oscuro .cjgf-datos1{
    background-color: #2f2e31;
  }

  .modo-oscuro .cjgf-dato1g{
    background-color: #2f2e31;
  }

  .modo-oscuro .cjgf-dato2{
    background-color: #2f2e31;
  }

  .modo-oscuro .cjgf-dato3{
    background-color: #2f2e31;
  }

  .modo-oscuro .modal-content h2{
    color: #fff;
  }

  .modo-oscuro .modal-contenido-perfil p{
    background-color: #525252;
    color: #000;
  }

  .modo-oscuro .modal-contenido-perfil strong{
    color: #000;
  }



/*###############################################################*/

@media (max-width: 700px) {

    .conten2home{
        width: 100%;
        height: 100%;
    }

    .modal {
        align-items: baseline;
        padding-top: 1%;
        justify-content: center;
      }

      .cjgf-caja1 > div {
        flex: 1 1 calc(50% - 10px);
      }

}




@media (max-width: 570px) {
 
    .titulohome{
        text-align: center;
    }

    .titulohome2{
        display: block;
        font-weight: bold;
        white-space: nowrap;
    }

    .contenedor-cajas {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }

    .caja {
        width: 100%;
        max-width: 142px;
        font-size: 10px;
    }


    .titulo-opciones{
        display: flex;
    }

    .opciones{
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    .titulo-opciones .cjtitulo .cjopciones{
        min-width: 50%;
    }

    .panel-cajas{
        min-height: 200px;
    }

    .cjgf-caja1 > div {
        flex: 1 1 100%;
    }

    .modal-content-graficos {
        margin-top: 5%;

    }

    .modal-content-graficos .btn-cerrar-graficos{
        margin-top: 5%;
        height: 50px;
      }

      .modal-content-graficos {
        width: 80%;
      }
}


  


@media (max-width: 344px) {
    
    .contenedor-cajas {
        grid-template-columns: repeat(auto-fit, minmax(100%, auto));
    }

    .caja {
        width: 100%;
        max-width: 94%;
        height: 100%;
        max-height: 165px;
        font-size: 9px;
    }

    .btn-eliminar-tr{
        padding: 0;
        margin: 0;
    }

    .titulohome, .titulohome2{
        font-size: 30px;
    }

    .modal-content-graficos {
      width: 90%;
    }

}


/*##################################################*/


.all-dashboard{
  margin: 1%;
  background-color: #dfd9e7;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}

.conteneor-dashboard1,.conteneor-dashboard2{
  margin: 0;
  margin-top: -1%;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 15px;
}

.dashboard-title{
  font-family: 'Nunito', sans-serif;
    color: #4A008B;
    font-weight: 900;
    font-size: 40px;
}

.seleccion-titulo{
  margin-top: 1%;
  font-size: 18px;
  font-weight: 700;
}

.seccion-links{
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px;
}

.seccion-links a{
  background-color: #cccccc50;
  border-radius: 10px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.seccion-links a:hover{
  transform: scale(2.0);
  background-color: #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

.all-dashboard .seccion-opciones{
  margin-top: 2%;
  margin-right: 1%;
  float: right;
}

.seccion-opciones button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: #00c2f8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #333;
}

.seccion-opciones button:hover{
  background-color: #73d3ed;
  transform: scale(1.02);
  cursor: pointer;
}

.conteneor-dashboard1{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.conteneor-dashboard1 > div {
  flex: 1 1 calc(10.33% - 10px);
  min-width: 100px;
  max-width: 350px;
}

.conteneor-dashboard2{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.conteneor-dashboard2 > div {
  flex: 1 1 calc(40.33% - 10px);
  min-width: 200px;
  max-width: 580px;
}

.dashcaja1{
  background-color: #386ee0;
  border-radius: 15px;
  padding: 5px;
}


.dashcaja2{
  background-color: #19aedb;
  border-radius: 15px;
  padding: 5px;
}

.dashcaja3{
  background-color: #bb19db;
  border-radius: 15px;
  padding: 5px;
}

.dashcaja4{
  background-color: #19dba1;
  border-radius: 15px;
  padding: 5px;
}

.dashcaja5, .dashcaja6, .dashcaja7, .dashcaja8{
  background-color: #b3c8d6;
  border-radius: 15px;
  padding: 5px;
  width: 95%;
}

.user-contem h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.user-contem p{
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: 900;
  color: #f1f1f1;
}

@media (max-width: 570px) {
  .conteneor-dashboard2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}