@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Rubik:wght@300;400;600;700;800&display=swap');



.title-sesion{
    color: #4A008B;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../public/fondoTKF2.png') no-repeat center center, 
                linear-gradient(45deg, #440080, #bb4eff);
    background-size: cover, 200% 200%;
    background-position: center, center; 
    animation: cambiarColor 3s infinite alternate;
}

@keyframes cambiarColor {
    0% {
        background-position: center, 0% 50%;
    }
    100% {
        background-position: center, 100% 50%;
    }
}

.contem{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px #f8f8f8;
}

.cjcorreo{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.cjcontraseña{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

label{
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.lbcontraseña {
    display: flex;
    align-items: center;
}


input{
    padding: 9px;
    width: 100%;;
    border-radius: 15px;
    border-width: 1px;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
}


.btn-iniciar-sesion{
    background-color: #00c2f8;
    width: 130px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #333;
}

.btn-iniciar-sesion:hover{
    background-color: #73d3ed;
    transform: scale(1.1);
    cursor: pointer;
}

.form .btn-iniciar-sesion{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.error-message{
    color: #f00c0c;
    font-weight: 900;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 550px) {
    .contem{
        width: 100%;
    }
}




/*##################################################*/


.title-registro{
    color: #4A008B;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}


.inputs-register input{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    border-radius: 0;
    padding-left: 0px;
    font-family: 'Quicksand', sans-serif;
}

.inputs-register button{
    background-color: #00c2f8;
    width: 150px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #333;
}

.inputs-register button:hover{
    background-color: #73d3ed;
    transform: scale(1.05);
    cursor: pointer;
}

/*##################################################*/




.contenhome{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../public/fondoTKF2.png') no-repeat center center, 
                linear-gradient(45deg, #440080, #bb4eff);
    background-size: cover, 200% 200%;
    background-position: center, center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 4%;
    padding-bottom: 4%;
}

.conten2home{
    background-color: #fff;
    width: 85%;
    height: 85%;
    border-radius: 20px;
    padding: 2%;
}

.titulo-opciones{
    display: flex;
}

.cjtitulo,.cjopciones{
    width: 50%;
}

.cjopciones{
    display: flex;
}

.cjopciones button{
    background-color: #00c2f8;
    min-width: 70px;
    max-width: 200px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #333;
}

.cjopciones button:hover{
    background-color: #73d3ed;
    transform: scale(1.02);
    cursor: pointer;
}

.cjopciones,.btn-opciones{
    align-items: center;
    justify-content: end;

}

.titulohome{
    font-family: 'Nunito', sans-serif;
    color: #4A008B;
    font-weight: 900;
    font-size: 40px;
}


.opciones{
    background-color: 0;
    padding: 5px;
}

.btn-nuevatarea{
    background-color: #b06bec;
    width: 130px;
    height: 40px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #fff;
}

.btn-nuevatarea:hover{
    background-color: #8d4bc7;
    transform: scale(1.02);
    cursor: pointer;
}

.panel-cajas{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    min-height: 170px;
}

.contenedor-cajas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    justify-content: center;
}

.caja{
    min-width: 250px;
    max-width: 250px;
    font-size: 12px;
    border-radius: 15px;
    background: #904eca;
    margin: 4px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 300px;
}

.caja:hover{
    cursor: pointer;
}

.caja .contercj{
    font-size: 20px;
    float: right;
    background-color: #f80057;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}

.caja h1{
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    font-family: 'Nunito', sans-serif;
}

.caja h2{
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik', sans-serif;
}

.caja span{
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.btn-eliminar-tr{
    background-color: #f80057;
    width: 90px;
    height: 25px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.btn-eliminar-tr:hover{
    background-color: #cf1e5c;
    transform: scale(1.05);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #d0d0d0;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
  }

  .modal-content h2 {
    font-family: 'Nunito', sans-serif;
    color: #333;
  }

  .modal-content textarea{
    min-height: 70px;
    width: 80%;
    margin: 1px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito', sans-serif;
  }

  .modal-content input{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 4px;
    border: none;
  }

  .modal-content .seleprioridad{
    margin-bottom: 2%;
    border: none;
    min-height: 35px;
    width: 80%;
    border-radius: 14px;
    font-family: 'Nunito', sans-serif;
  }

  .modal-content button{
    background-color: #00c2f8;
    width: 130px;
    height: 40px;
    margin: 3px;
    border: none;
    border-radius: 5px;
  }

  .modal-content button:hover{
    background-color: #70d0eb;
  }


  .modal-content .btn-cancelar-tarea{
    background-color: #f80057;
  }

  .modal-content .btn-cancelar-tarea:hover{
    background-color: #cf1e5c;
  }


  .modal-perfil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-contenido-perfil {
    background: #d0d0d0;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
  }

  .modal-botones-perfil button{
    width: 100px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
  }

  .modal-botones-perfil .btn-logout{
    background-color: #ff0000;
  }

  .modal-botones-perfil .btn-logout:hover{
    background-color: #a10101;
  }
  
  .modal-botones-perfil .btn-cerrar{
    background-color: #f80057;
  }

  .modal-botones-perfil .btn-cerrar:hover{
    background-color: #cf1e5c;
  }
  

@media (max-width: 550px) {

    
    .titulohome{
        text-align: center;
    }

    .titulohome2{
        display: block;
        font-weight: bold;
        white-space: nowrap;
    }

    .contenedor-cajas{
        min-width: 100px;
    }

    .titulo-opciones{
        display: block;
    }

    .opciones{
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    .cjopciones{
        display: flex;
        justify-content: left;
        margin-bottom: 10px;
    }

    .panel-cajas{
        min-height: 200px;
    }
  }

  @media (max-width: 650px) {
    .conten2home{
        width: 100%;
        height: 100%;
    }
  }